/// Default color variables
// $accent-color: #03C4EB;
$accent-color: #dc1c7c;
$heading-color: #333333;
$text-color: #666666;
// $accent-font: 'Raleway', sans-serif;
// $heading-font: 'Raleway', sans-serif;
// $text-font: 'Open Sans', sans-serif;
/// Fonts Variables
$accent-font: 'Coming Soon',
cursive;
$heading-font: 'Coming Soon',
cursive;
$text-font: 'Coming Soon',
cursive;